/* For ipad and laptop */
.header_about_laptop {
  display: none;
}
.cont_grid {
  display: none;
}

/* Base Mobile First */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 40rem; /* Increased height to fit all content */
  perspective: 1000px;
  margin: auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flipped {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
 
  border-radius: 15px;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.7);
  box-shadow: -15px 17px 17px rgba(10,10,10,0.25);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.flip-card-back {
  transform: rotateY(180deg);
}

.about_bg {
  padding: 20px;
}

.paragraph {
  font-size: var(--size-sm);
  text-align:center;
}

.my_pic {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin-top: 20px;
}

