/* For ipad and laptop */
.header_about_laptop {
  display: none;
}
.cont_grid {
  display: none;
}

/* Base Mobile First */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 40rem; /* Increased height to fit all content */
  perspective: 1000px;
  margin: auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flipped {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
 
  border-radius: 15px;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.7);
  box-shadow: -15px 17px 17px rgba(10,10,10,0.25);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.flip-card-back {
  transform: rotateY(180deg);
}

.about_bg {
  padding: 20px;
}

.sub_heading {
  font-size: var(--size-2xl);
  font-weight: bold;
}

.paragraph {
  font-size: var(--size-sm);
  text-align:center;
}

.my_pic {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin-top: 20px;
}

@media (min-width: 640px) {
  .flip-card {
    background-color: transparent;
    width: 35rem;
    height: 40rem; /* Increased height to fit all content */
    perspective: 1000px;
    margin: auto;
  }
    .sub_heading {
      font-size: var(--size-4xl);
      font-weight: bold;
    }
    
    .paragraph {
      font-size: var(--size-xl);
    }
    .my_pic {
      width: 200px;
      height: 200px;
      border-radius: 50%;
  }
}

@media (min-width: 1024px) {
  .header_about_laptop {
    display: flex;
    justify-content: center;
    font-size: var(--size-4xl);
  }
  .cont_grid {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr;
    height: 40rem;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    border-radius: 25px;
  }
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px transparent;
    padding: 1rem;
  }
  .cell3 {
    grid-column: span 2;
    margin-left: 16px;
    margin-right: 16px;
  }
  .paragraph_1 {
    font-size: var(--size-xl);
  }

  .my_pic_1 {
    width: 80%;
    height: 95%;
    border-radius: 24%;
  }

  .flip-card {
    display: none;
  }
}
@media (min-width: 1280px) {
  .cont_grid {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr;
    height: 47rem;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    border-radius: 25px;
  }
  .paragraph_1 {
    font-size: var(--size-2xl);
  }
}