@import url("https://fonts.cdnfonts.com/css/ocr-a-std");

/* Grid Container */
.grid_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  justify-items: center;
}

@media (min-width: 768px) {
  .grid_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Flip Card Base Styles */
.flip_card {
  background-color: transparent;
  width: 100%;
  max-width: 25rem;
  height: 25rem;
  perspective: 1000px;
  margin: auto;
}

.flip_card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flipped {
  transform: rotateY(180deg);
}

.flip_card_front,
.flip_card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  border: 1px solid white;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flip_card_back {
  transform: rotateY(180deg);
}

/* Specific Flip Card Styles */
/* .flip_card_html .flip_card_front {

} */

.flip_card_html .flip_card_back {
  font-size: var(--size-xl);
}

/* .flip_card_css .flip_card_front {

} */

.flip_card_css .flip_card_back {
  font-size: var(--size-xl);
}

/* .flip_card_js .flip_card_front {

} */

.flip_card_js .flip_card_back {
  font-size: var(--size-xl);
}

/* Infinite Scroll */
.infinite_scroll_container {
  position: relative;
  width: 90%;
  margin-inline: auto;
  height: 100px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}
@keyframes scrollLeft {
  to {
    left: -200px;
  }
}
.infinite_scroll_container .item {
  position: absolute;
  width: 200px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.7);
  /* box-shadow: -15px 17px 17px rgba(10,10,10,0.25); */
  backdrop-filter: blur(25px);
  border-radius: 6px;
  left: max(calc(200px * 13), 100%);
  animation-name: scrollLeft;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item1 {
  animation-delay: calc(40s / 13 * (13 - 1) * -1);
}

.item2 {
  animation-delay: calc(40s / 13 * (13 - 2) * -1);
}

.item3 {
  animation-delay: calc(40s / 13 * (13 - 3) * -1);
}

.item4 {
  animation-delay: calc(40s / 13 * (13 - 4) * -1);
}

.item5 {
  animation-delay: calc(40s / 13 * (13 - 5) * -1);
}

.item6 {
  animation-delay: calc(40s / 13 * (13 - 6) * -1);
}

.item7 {
  animation-delay: calc(40s / 13 * (13 - 7) * -1);
}

.item8 {
  animation-delay: calc(40s / 13 * (13 - 8) * -1);
}

.item9 {
  animation-delay: calc(40s / 13 * (13 - 9) * -1);
}

.item10 {
  animation-delay: calc(40s / 13 * (13 - 10) * -1);
}

.item11 {
  animation-delay: calc(40s / 13 * (13 - 11) * -1);
}

.item12 {
  animation-delay: calc(40s / 13 * (13 - 12) * -1);
}

.item13 {
  animation-delay: calc(40s / 13 * (13 - 13) * -1);
}

/* Projects */
/* ------------------------------------------------------------------------------------------------------------- */

.notice {
  justify-content: center;
  align-items: center;
  color: red;
}

.projects_container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;

}
.debit_card {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8px);
  border: 2px solid white;
  border-radius:25px;
  width: 100%;
  height: auto;
}



/* */
.card_flip {
  background-color: transparent;
  perspective: 1000px;
}

.card_flip_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card_flip:hover .card_flip_inner,
.card_flip.touch .card_flip_inner {
  transform: rotateY(180deg);
}

.card_flip_front,
.card_flip_back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_flip_back {
  color: white;
  transform: rotateY(180deg);
}

.flip_cardDc {
  background-color: transparent;
  width: 100%;
  height: 15rem;
  perspective: 1000px;
  margin: auto;
}

.flip_card_frontDc,
.flip_card_backDc {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flip_card_backDc {
  transform: rotateY(180deg);
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.15);
}

.contacts_pc {
  display: none;
}