.hire_me_icon {
  width: 30px;
  height: 30px;
}

.contacts ul li {
  list-style: none;
}

.contacts ul {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  gap: 2rem;
}

.contacts ul li a {
  text-decoration: none;
  display: inline-block;
  
}


/*  */
.light-button button.bt {
  position: relative;
  height: 100px; /* Reduced height */
  display: flex;
  align-items: flex-end;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

.light-button button.bt .button-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px; /* Reduced height */
  width: 50px; /* Reduced width */
  background-color: #0a0a0a;
  border-radius: 2.5px; /* Reduced border radius */
  color: #0f0f0f;
  font-weight: 700;
  transition: 300ms;
  outline: #0f0f0f 1px solid; /* Reduced outline */
  outline-offset: 10px; /* Reduced outline offset */
}

.light-button button.bt .button-holder svg {
  height: 25px; /* Reduced height */
  fill: #0f0f0f;
  transition: 300ms;
}

.light-button button.bt .light-holder {
  position: absolute;
  height: 100px; /* Reduced height */
  width: 50px; /* Reduced width */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.light-button button.bt .light-holder .dot {
  position: absolute;
  top: 0;
  width: 5px; /* Reduced width */
  height: 5px; /* Reduced height */
  background-color: #0a0a0a;
  border-radius: 5px; /* Reduced border radius */
  z-index: 2;
}

.light-button button.bt .light-holder .light {
  position: absolute;
  top: 0;
  width: 100px; /* Reduced width */
  height: 100px; /* Reduced height */
  clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
  background: transparent;
}

.light-button button.bt:hover .button-holder svg {
  fill: rgba(88, 101, 242, 1);
}

.light-button button.bt:hover .button-holder {
  color: rgba(88, 101, 242, 1);
  outline: rgba(88, 101, 242, 1) 1px solid; /* Reduced outline */
  outline-offset: 1px; /* Reduced outline offset */
}

.light-button button.bt:hover .light-holder .light {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(88, 101, 242, 1) 0%,
    rgba(255, 255, 255, 0) 75%,
    rgba(255, 255, 255, 0) 100%
  );
}
