.hire_me_icon {
  width: 30px;
  height: 30px;
}

.contacts ul li {
  list-style: none;
}

.contacts ul {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  gap: 2rem;
}

.contacts ul li a {
  text-decoration: none;
  display: inline-block;
  
}