.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}
.title{
  display: flex;
  justify-content: center;
  font-size: xx-large;
  margin-bottom: 2rem;
}

.mypic {
  align-self: flex-end;
  width: 100%;
  height: auto;
  opacity: 0.6;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
  .mypic {
    display: none;
  }
}

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
