.hero {
  display: block;
  text-align: center;
  height: 20rem;
}

.myName {
  font-size: var(--size-base);
}

.title {
  font-family: "Fira Sans Condensed", monospace;
  font-size: var(--size-2xl);
}

.hero_btn {
  border: 1px solid var(--clr-white);
  border-radius: 10px;
  font-size: var(--size-base);
  padding: 1rem;
}

/* Responsive Styles */
@media (min-width: 768px) {
  .title {
    font-size: var(--size-4xl);
  }

  .myName {
    font-size: var(--size-lg);
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: var(--size-6xl);
  }

  .myName {
    font-size: var(--size-2xl);
  }
}

@media (min-width: 1280px) {
  .title {
    font-size: var(--size-8xl);
  }

  .myName {
    font-size: var(--size-4xl);
    font-family: "Poppins", monospace;
  }
}