.nav_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5rem;
  margin-top: 1rem;
  padding: 0.5rem;
}

.logo {
  width: 5rem;
}

.nav_menu {
  display: none;
}

.nav_btn {
  text-decoration: none;
  color: var(--clr-white);
}

.hamburgerMenu {
  display: block;
  cursor: pointer;
}

.mobile_navigation {
  display: none;
}

/* Responsive Styles */
@media (min-width: 768px) {
  .nav_menu {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    width: 75%;
    list-style: none;
    padding-right: 1.5rem;
  }

  .hamburgerMenu {
    display: none;
  }
}

@media (min-width: 1024px) {
  .nav_menu {
    gap: 4rem;
    width: 70%;
    padding-right: 5rem;
  }
}