.c-nav {
  display: flex;
  justify-content: space-between;
}

.c-menu {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.c-menu-link {
  text-decoration: none;
}

.txt-heading {
  display: inline;
}