/* Base Styeling */
.nav_area {
  position: fixed;
  top: 0;
  z-index: 1000; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 1rem);
  border-radius: 5rem;
  padding: 0.5rem;
  background-color: rgba(255,255,255,0.15);
  backdrop-filter: blur(10px);
  left: 50%;
  transform: translateX(-50%);
  max-width: 1536px;
  transition: top 0.3s;
}
.logo {
  border-radius: 50%;
  width: 2rem;
}

.nav_menu {
  display: none;
}

.nav_btn {
  text-decoration: none;
  color: var(--clr-white);
}

.hamburgerMenu {
  display: block;
  cursor: pointer;
  margin-right: 1rem;
}

.mobile_navigation {
  display: none;
}

/* END Of Base Styeling */

/* Responsive Styles */
@media (min-width: 475px) {
  .logo {
    width: 2rem;
    margin-left: 1.5rem;
  }
}

@media (min-width: 640px) {
  .logo {
    width: 3rem;
  }
}

@media (min-width: 768px) {
  .logo {
    width: 3rem;
    margin-left: 2.5rem;
  }
  
  .nav_menu {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    width: 75%;
    list-style: none;
    padding-right: 1.5rem;
  }

  .hamburgerMenu {
    display: none;
  }
}

@media (min-width: 1024px) {
  .nav_menu {
    gap: 4rem;
    width: 70%;
    padding-right: 5rem;
  }
}

/* @media (min-width: 1280px) {} */
/* @media (min-width: 1536px) {} */