.flip_card_html {
  background-color: transparent;
  width: 25rem;
  height: 25rem;
  perspective: 1000px;
  margin: auto;
}
.flip_card_inner_html {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flipped {
  transform: rotateY(180deg);
}
.flip_card_front_html, .flip_card_back_html {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
.flip_card_back_html {
  transform: rotateY(180deg);
}

/* CSS */
.flip_card_css {
  background-color: transparent;
  width: 25rem;
  height: 25rem;
  perspective: 1000px;
  margin: auto;
}
.flip_card_inner_css {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flipped {
  transform: rotateY(180deg);
}
.flip_card_front_css, .flip_card_back_css {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
.flip_card_back_css {
  transform: rotateY(180deg);
}
/* JavaScript */
.flip_card_js {
  background-color: transparent;
  width: 25rem;
  height: 25rem;
  perspective: 1000px;
  margin: auto;
}
.flip_card_inner_js {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flipped {
  transform: rotateY(180deg);
}
.flip_card_front_js, .flip_card_back_js {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
.flip_card_back_js {
  transform: rotateY(180deg);
}