body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.stars {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
}

.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: move-stars linear infinite, twinkling ease-in-out infinite;
}

@keyframes twinkling {
  0%, 100% {
      opacity: 0.8;
  }
  50% {
      opacity: 1;
  }
}

@keyframes move-stars {
  from {
      transform: translateY(1000px);
  }
  to {
      transform: translateY(-1000px);
  }
}
